version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      # Override dataabse URL to use the postgres service
      - DATABASE_URL=postgresql://user:password@db:5432/nibrr_db
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=nibrr_db
    ports:
      - "5432:5432"

volumes:
  postgres_data:
